<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zemcho.pe.mapper.course.CourseMapper">


    <select id="selectCourseList" resultType="com.zemcho.pe.controller.course.vo.CourseVO">
        SELECT a.class_id        AS 'classId',
               a.section         AS 'sectionTime',
               b.teacher_uid     AS 'teacherId',
               b.id              AS 'schId',
               b.course_id       AS 'courseId',
               b.limit_person    AS 'limitPerson',
               c.`name`          AS 'courseName',
               c.campus          AS 'courseCampus',
               c.sex,
               d.`name`          AS 'courseSite',
               e.`name`          AS 'teacherName',
               f.year,
               f.term,
               f.week_class_time AS 'weekClassTime'
        FROM zc_sports_class_section AS a
                 INNER JOIN zc_sports_schedules AS b ON a.section = b.section
                                                            AND a.campus = b.campus
                                                            AND b.is_del = 0
                 INNER JOIN zc_sports_course AS c ON b.course_id = c.id
                 INNER JOIN zc_sports_site AS d ON c.site_id = d.id
                 INNER JOIN zc_user AS e ON b.teacher_uid = e.id
                 INNER JOIN zc_sports_config AS f ON f.year = #{year} AND f.term = #{term}
        WHERE a.class_id = #{classId}
        ORDER BY class_id ASC
    </select>

    <select id="selectTimeList" resultType="com.zemcho.pe.controller.course.vo.SelectiveTimeVO">
        SELECT campus,
               start_time                AS 'start',
               FROM_UNIXTIME(start_time) AS 'startTime',
               end_time                  AS 'end',
               FROM_UNIXTIME(end_time)   AS 'endTime'
        FROM zc_sports_config_selection_time
        WHERE is_gregory_date = #{isGregory}
          AND config_id = #{configId}
    </select>

    <select id="selectConfigIdByYearAndTerm" resultType="java.lang.Integer">
        SELECT id
        FROM zc_sports_config
        WHERE year = #{year}
          AND term = #{term}
    </select>

    <select id="selectCourseCountByYearAndTerm" resultType="com.zemcho.pe.controller.course.vo.CourseCountVO">
        SELECT b.id AS 'courseId', b.limit_person AS 'count'
        FROM zc_sports_course AS a
                 INNER JOIN zc_sports_schedules AS b ON a.id = b.course_id
                 INNER JOIN zc_sports_site AS c ON a.site_id = c.id
                 INNER JOIN zc_user AS d ON b.teacher_uid = d.id
        ORDER BY b.id
    </select>

    <insert id="saveSelectSourceRecord" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO zc_sports_stu_success_sch (year,
                                               term,
                                               uid,
                                               sch_id,
                                               class_id,
                                               phone,
                                               remark,
                                               operate_type,
                                               create_time,
                                               update_time,
                                               status,
                                               is_del,
                                               exempt_status)
        VALUES (#{year},
                #{term},
                #{uid},
                #{schId},
                #{classId},
                #{phone},
                #{remark},
                #{operateType},
                #{createTime},
                #{updateTime},
                #{status},
                #{isDel},
                #{exemptStatus})
    </insert>

    <select id="selectSelectedCourseRecord" resultType="com.zemcho.pe.controller.course.vo.SelectCourseRecordVO">
        SELECT sch_id AS 'schId', is_del AS 'isDel'
        FROM zc_sports_stu_success_sch
        WHERE id = #{id}
          AND uid = #{uid}
          AND is_del = 0
    </select>

    <update id="cancelTakeCourse">
        UPDATE zc_sports_stu_success_sch
        SET is_del = 1
        WHERE id = #{id}
          AND uid = #{uid}
          AND is_del = 0
    </update>

    <select id="selectUserInfoByCampusAndYearAndTerm" resultType="com.zemcho.pe.controller.course.vo.UserInfoVO">
        SELECT a.campus,
               b.uid,
               c.username,
               c.name,
               c.type,
               b.faculty,
               b.class AS 'classId',
               b.sex,
               b.phone,
               e.title AS 'classTitle',
               e.grade,
               d.title AS 'facultyTitle'
        FROM zc_sports_class_section a
                 INNER JOIN zc_user_detail AS b ON a.class_id = b.class
                 INNER JOIN zc_user AS c ON b.uid = c.id
                 INNER JOIN zc_faculty AS d ON b.faculty = d.id
                 INNER JOIN zc_class AS e ON a.class_id = e.id
        WHERE a.year = #{year}
          AND a.term = #{term}
        ORDER BY c.username ASC
    </select>

    <select id="selectClassIdAll" resultType="java.lang.Integer">
        SELECT DISTINCT (class_id)
        FROM zc_sports_class_section
    </select>

    <select id="selectPreviewTimeByYearAndTerm" resultType="com.zemcho.pe.controller.course.vo.PreviewTimeVO">
        SELECT FROM_UNIXTIME(preview_start_time) AS 'previewStartTime',
               FROM_UNIXTIME(preview_end_time)   AS 'previewEndTime'
        FROM zc_sports_config
        WHERE year = #{year}
          AND term = #{term}
    </select>

    <select id="selectUserInfoById" resultType="com.zemcho.pe.controller.course.vo.UserInfoVO">
        SELECT a.campus,
               b.uid,
               c.username,
               c.name,
               c.type,
               b.faculty,
               b.class AS 'classId',
               b.sex,
               b.phone,
               e.title AS 'classTitle',
               e.grade,
               d.title AS 'facultyTitle'
        FROM zc_sports_class_section a
                 INNER JOIN zc_user_detail AS b ON a.class_id = b.class
                 INNER JOIN zc_user AS c ON b.uid = c.id AND c.id = #{id}
                 INNER JOIN zc_faculty AS d ON b.faculty = d.id
                 INNER JOIN zc_class AS e ON a.class_id = e.id
    </select>

    <select id="selectFormIdByCode" resultType="java.lang.Integer">
        SELECT form_id
        FROM zc_form_config
        WHERE code = #{code}
    </select>

    <insert id="saveSelectCourseLog" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO zc_sports_course_selection_log (uid, ip, sch_id, create_time, update_time)
        VALUES (#{uid}, #{ip}, #{schId}, #{createTime}, #{updateTime})
    </insert>

    <insert id="saveCourseResults" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO zc_sports_stu_results (year, term, campus, uid, course_id, teacher_uid, create_time, update_time)
        VALUES (#{year}, #{term}, #{campus}, #{uid}, #{courseId}, #{teacherId}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectCourseResultsByUid" resultType="com.zemcho.pe.entity.course.CourseResults">
        SELECT id, year, term, campus, course_id AS 'courseId', teacher_uid AS 'teacherId', uid
        FROM zc_sports_stu_results
        WHERE uid = #{uid} AND year = #{year} AND term = #{term}
    </select>

    <update id="updateCourseResults">
        UPDATE zc_sports_stu_results
        SET campus      = #{campus},
            course_id   = #{courseId},
            teacher_uid = #{teacherId},
            update_time = #{updateTime}
        WHERE id = #{id}
          AND uid = #{uid}
    </update>

    <insert id="saveFormLog" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO zc_form_log (form_id, data_id, uid, faculty, create_at, update_at, status)
        VALUES (#{formId}, #{dataId}, #{uid}, #{faculty}, #{createTime}, #{updateTime}, #{status})
    </insert>

    <update id="updateCourseNumber">
        UPDATE zc_sports_class_list
        SET course_num  = #{courseNumber},
            update_time = #{updateTime}
        WHERE class_id = #{classId}
          AND year = #{year}
          AND term = #{term}
    </update>

</mapper>